/*
	Name: CampFirePixels Tabber
	URI: https://campfirepixels.com/
	Description: This is a responsive Tabber that converts to Accordion
	Author: Danny G Smith
	Author URI: https://campfirepixels.com/

	Version: 0.1.0

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

.tabber-wrapper {
   position: relative;
   margin-bottom: 70px;
}

// dl,
.tabber--container {
   -webkit-margin-after:  0;
   -webkit-margin-before: 0;
   display: inline-flex;
   flex-wrap: nowrap;
   justify-content: flex-start;
   margin:  0;
   padding: 0;
}

// dt
.tabber--tab {
   background-color: #eee;
   border: 1px solid #ccc;
   border-top-left-radius:  5px;
   border-top-right-radius: 5px;
   cursor: pointer;
   display: inline;
   margin-right: 2px;
   padding:  6px 15px;
   vertical-align: top;
}

// dd,
.tabber--content {
   -webkit-margin-start: 0;
   background-color: #ddd;
   border: 1px solid #ccc;
   color: #333;
   left: 0;
   overflow: hidden;
   padding: 20px;
   position: absolute;
   top: 100%;
   width: 100%;
   z-index: 99;
}

@media only screen and (min-width: 768px) {

   .tabber-wrapper {
      position: relative;
      margin-bottom: 70px;
   }

   // dl,
   .tabber--container {
      -webkit-margin-after:  0;
      -webkit-margin-before: 0;
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin:  0;
      padding: 0;
   }

   // dt
   .tabber--tab {
      background-color: #eee;
      border: 1px solid #ccc;
      border-top-left-radius:  5px;
      border-top-right-radius: 5px;
      cursor: pointer;
      display: inline;
      margin-right: 2px;
      padding:  6px 15px;
      vertical-align: top;
   }

   // dd,
   .tabber--content {
      -webkit-margin-start: 0;
      background-color: #ddd;
      border: 1px solid #ccc;
      color: #333;
      left: 0;
      overflow: hidden;
      padding: 20px;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 99;
   }

}