/*
	Name: CampFirePixels Tabber
	URI: https://campfirepixels.com/
	Description: This is a responsive Tabber that converts to Accordion
	Author: Danny G Smith
	Author URI: https://campfirepixels.com/

	Version: 0.1.1

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* Define the "system" font family */
@font-face {
   font-family: system;
   font-style:  normal;
   font-weight: 300;
   src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
   font-family: "system";
}

.dashicons, .dashicons-before:before {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing:  antialiased;
   -webkit-transition:      color .1s ease-in 0;
   display:                 inline-block;
   font-family:             dashicons;
   font-size:               16px;
   font-style:              normal;
   font-weight:             400;
   height:                  unset;
   line-height:             1;
   text-align:              left;
   text-decoration:         inherit;
   transition:              color .1s ease-in 0;
   vertical-align:          top;
   width:                   100%;
}

.tabber--wrapper {
   font-family:   system;
   //font-weight:   400;
   position:      relative;
   margin-bottom: 70px;
}

// dl,
.tabber--container {
   margin:  0;
   padding: 0;
   width:   100%;
}

// dt
.tabber--tab {
   align-items:      center;
   background-color: #ccc;
   border:           1px solid #aaa;
   border-bottom:    1px solid #ccc;
   color:            #333;
   display:          flex;
   font-weight:      bold;
   justify-content:  space-between;
   padding:          6px 15px;
   text-transform:   uppercase;
   width:            100%;
}

.tabber-content--icon {
   font-size: 28px;
}

// dd,
.tabber--content {
   margin:        0;
   background:    #eee;
   padding:       20px;
   border-left:   1px solid #ccc;
   border-right:  1px solid #ccc;
   border-bottom: 1px solid #ccc;
}

@media only screen and (min-width: 768px) {

   .tabber--wrapper {
      position:      relative;
      margin-bottom: 70px;
   }

   // dl,
   .tabber--container {
      -webkit-margin-after:  0;
      -webkit-margin-before: 0;
      display:               inline-flex;
      flex-wrap:             nowrap;
      justify-content:       flex-start;
      margin:                0;
      padding:               0;
      width:                 auto;

      &.activated .tabber-content--icon.fa:before {
         content: '\f0d7';
      }
   }

   // dt
   .tabber--tab {
      background-color:        #eee;
      border:                  1px solid #ccc;
      border-top-left-radius:  5px;
      border-top-right-radius: 5px;
      cursor:                  pointer;
      display:                 inline;
      margin-right:            2px;
      padding:                 6px 15px 10px;
      text-transform:          capitalize;
      vertical-align:          top;
   }

   .current--tab {
      background-color:     #78909c;
      border:               1px solid #607d8b;
      color:                #fff;
      border-top-left-radius:  5px;
      border-top-right-radius: 5px;
   }

   .tabber-content--icon,
   .dashicons-arrow-down-alt2:before  {
      display: none;
   }

   // dd,
   .tabber--content {
      -webkit-margin-start: 0;
      background-color:     #ddd;
      border:               1px solid #ccc;
      color:                #333;
      left:                 0;
      overflow:             hidden;
      padding:              20px;
      position:             absolute;
      top:                  100%;
      width:                100%;
      z-index:              99;
   }
}
